* {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  background-color: rgb(0, 195, 255);
}


.main-box {
  position: absolute;
  background-color: rgb(0, 195, 255);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-box .content {
  position: fixed;
  flex-direction: column;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.603);
  display: flex;
  border-radius: 30px;
  box-shadow: 6px 6px 6px rgba(0, 67, 250, 0.61);
  min-width: 800px;
  min-height: 600px;
}

.content .head-text {
  position: absolute;
  background-color: red;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0);
  font-size: 35px;
  font-style: italic;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
  color: white;
}

.content .head-text img {
  position: relative;
  height: 150px;
  justify-content: center;
}


.content .search-box {
  display: flex;
  justify-content: center;
  background-color: rgba(255, 255, 0, 0);
  margin-top: 110px;
  margin-left: 270px;
  padding-left: 250px;
  height: 30px;
}

.content .search-box .search {
  text-align: center;
  border-radius: 20px;
  font-size: 20px;
  background: linear-gradient(to right, #000000, #1100ff79);
  color: white;
  z-index: 100;
}

.content .search-box .search-btn {
  z-index: 100;
  border-radius: 100%;
}

.content .search-box .search-btn img{
  height: 26px;
  cursor: pointer;
  z-index: 100;
}

.weather-info-box {
  margin-top: 200px;
  margin: 20px;
  height: 90%;
  justify-content: center;
  display: flex;
  background: linear-gradient(to top, #00000000, #00e1ff6c);
  border-radius: 20px;
}

.weather-info-box h2 {
  color: white;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 30px;
  font-size: 30px;
}

.weather-info-box img{
  margin-top: 40px;
  display: flex;
  position: absolute;
  align-self: normal;
  height: 40%;
}

.weather-info-box h3 {
  position: absolute;
  top: 25%;
  left: 75%;
  font-size: 60px;
  color: white;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
}

.weather-info-box h4 {
  position: absolute;
  top: 38%;
  left: 65%;
  font-size: 30px;
  color: white;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
}

.weather-info-box .city {
  top: 35%;
  color: white;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 5%;
  font-size: 30px;
}

.wetter-data {
  margin-top: 200px;
  margin: 20px;
  height: 30%;
  justify-content: center;
  display: flex;
  background: linear-gradient(to top, #00000000, #00e1ff6c);
  border-radius: 20px;
}

.wetter-data ul {
  list-style: none;
  display: flex;
  padding: 10px;
}

.wetter-data ul li {
  padding-right: 30px;
  font-size: 20px;
  color: white;
}